<div class="bg-[var(--bg-color-gray)] rounded-md shadow-md p-10 text-center mb-4">
    <div class="mx-auto max-w-md overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl">
        <div class="md:flex">
            <div class="p-8">
                <h1 class="text-xl font-bold mt-4 mb-2 uppercase">Recorridos</h1>

                <h2 class="mt-2 text-gray-500">
                    Descubre y visita los lugares y monumentos más emblemáticos de la cuidad de SEVILLA.
                </h2>
            </div>
        </div>
    </div>
</div>