<div class="relative w-full max-w-7xl mx-auto rounded-xl shadow-lg overflow-hidden mb-10">
    <img src="../../../assets/portadaPE.jpg" alt="Plaza de Toros Maestranza" class="w-full h-[500px] object-cover" />
    <div class="absolute inset-0 bg-black/40 flex items-end justify-center pb-10">
        <h1
            class="text-white text-4xl md:text-5xl font-extrabold drop-shadow-lg px-6 py-4 bg-black/10 rounded-xl animate-fade-in-up">
            <span class="text-[var(--bg-color-yellow)] drop-shadow-md tracking-wide">Localiza tu</span><span> coche de
                caballos</span>
        </h1>
    </div>
</div>