<app-hero />
<app-mapa-paradas />
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-[var(--bg-color-gray)] rounded-md shadow-md p-10 text-center">
        <h2 class="text-xl font-bold mt-4 mb-2">Plaza de España</h2>
        <img src="../../../assets/castano.webp" alt="Parada" class="mx-auto w-90 h-50 object-cover rounded">
    </div>

    <div class="bg-[var(--bg-color-gray)] rounded-md shadow-md p-10 text-center">
        <h2 class="text-xl font-bold mt-4 mb-2">Maestranza</h2>
        <img src="../../../assets/toros.webp" alt="Parada" class="mx-auto w-75 h-50 object-cover rounded">
    </div>
    <div class="bg-[var(--bg-color-gray)] rounded-md shadow-md p-10 text-center">
        <h2 class="text-xl font-bold mt-4 mb-2">Catedral</h2>
        <img src="../../../assets/virgendlreyes.jpg" alt="Parada" class="mx-auto w-80 h-50 object-cover rounded">
    </div>
    <div class="bg-[var(--bg-color-gray)] rounded-md shadow-md p-10 text-center">
        <h2 class="text-xl font-bold mt-4 mb-2">Parque Maria Luisa</h2>
        <img src="../../../assets/parque.jpg" alt="Parque Maria Luisa" class="mx-auto w-80 h-50 object-cover rounded">

    </div>
    <div class="bg-[var(--bg-color-gray)] rounded-md shadow-md p-10 text-center">
        <h2 class="text-xl font-bold mt-4 mb-2">Feria de Abril</h2>
        <img src="../../../assets/feria.jpg" alt="Feria" class="mx-auto w-80 h-50 object-cover rounded">

    </div>
    <div class="bg-[var(--bg-color-gray)] rounded-md shadow-md p-10 text-center">
        <h2 class="text-xl font-bold mt-4 mb-2">Semana Santa</h2>
        <img src="../../../assets/lagarto2.jpg" alt="Feria" class="mx-auto w-80 h-50 object-cover rounded">

    </div>
</div>