<footer class="bg-gray-700 text-white py-6 mt-10">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
        <div>
            <h3 class="text-lg font-bold">Sobre Nosotros</h3>
            <div class="flex flex-col mt-2 space-y-2">
                <a routerLink="/paradas" class="text-sm text-sky-500 hover:text-gray-400">Paradas</a>
                <a routerLink="/servicios" class="text-sm text-sky-500 hover:text-gray-400">Servicios</a>
                <a routerLink="/mapa" class="text-sm text-sky-500 hover:text-gray-400">Mapa</a>
                <a routerLink="/valoraciones" class="text-sm text-sky-500 hover:text-gray-400">Valoraciones</a>
            </div>
        </div>
        <div>
            <h3 class="text-lg font-bold">Contacto</h3>
            <p class="text-sm mt-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i> <a
                    href="mailto:alorentealman@gmail.com">alorentealmangmail.com</a></p>
            <p class="text-sm mt-2"><i class="fa fa-phone mr-2"></i>666 765 456</p>
        </div>
        <div>
            <h3 class="text-lg font-bold">Sígueme</h3>
            <div class="flex flex-col mt-2 space-y-2">
                <a href="https://github.com/alvaroloal" target="_blank" class=" text-sky-500 hover:text-gray-400"><i
                        class="fab fa-github"></i> GitHub</a>
                <a href="https://alvaroloal.github.io/" target="_blank" class="text-sky-500 hover:text-gray-400"><i
                        class="fa fa-globe" aria-hidden="true"></i> Portfolio</a>
            </div>
        </div>
    </div>
    <div class="mt-6 text-sm text-center border-t border-gray-500 pt-4">
        &copy; 2025 Calesapp - Álvaro Lorente Almán
    </div>
</footer>