<div class="bg-gray-100 p-6">
    <div class="max-w-screen-xl mx-auto">
        <h2 class="text-2xl font-bold mb-6">Dashboard administrador</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

            <div class="bg-white rounded-lg shadow-md p-4">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-lg font-semibold text-gray-700">Paradas</h3>
                    <button class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700"
                        (click)="crearParadaModal()">
                        <i class="fas fa-plus mr-1"></i>Crear
                    </button>
                </div>
                <table class="w-full text-sm text-left">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="p-2 w-1/4">Nombre</th>
                            <th class="p-2 w-1/2">Descripción</th>
                            <th class="p-2 w-1/4 text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (parada of paginatedParadas; track parada.id) {
                        <tr class="border-b">
                            <td class="p-2 break-words">{{ parada.nombre }}</td>
                            <td class="p-2 break-words">{{ parada.descripcion }}</td>
                            <td class="p-2 text-center">
                                <button (click)="verParada(parada)" title="Ver"
                                    class="text-blue-500 hover:text-blue-700 mr-2">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button (click)="editarParada(parada)" title="Editar"
                                    class="text-green-500 hover:text-green-700 mr-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarParada(parada.id)" title="Eliminar"
                                    class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="flex justify-between items-center mt-4 text-sm">
                    <button (click)="prevPageParadas()" [disabled]="currentPageParadas === 1"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        <i class="fas fa-arrow-left mr-1"></i> Anterior
                    </button>
                    <span>
                        Página {{ currentPageParadas }} de {{ getTotalPages(paradas.length) }}
                    </span>
                    <button (click)="nextPageParadas()" [disabled]="currentPageParadas >= getTotalPages(paradas.length)"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        Siguiente <i class="fas fa-arrow-right ml-1"></i>
                    </button>

                </div>


            </div>

            <div class="bg-white rounded-lg shadow-md p-4">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-lg font-semibold text-gray-700">Valoraciones</h3>
                    <button class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700"
                        (click)="crearValoracionModal()">
                        <i class="fas fa-plus mr-1"></i>Crear
                    </button>
                </div>
                <table class="w-full text-sm text-left">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="p-2">Puntuación</th>
                            <th class="p-2">Comentario</th>
                            <th class="p-2">Fecha</th>
                            <th class="p-2 text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (valoracion of paginatedValoraciones; track valoracion.id) {
                        <tr class="border-b">
                            <td class="p-2">{{ valoracion.puntuacion }}</td>
                            <td class="p-2">{{ valoracion.comentario }}</td>
                            <td class="p-2">{{ valoracion.fecha | date:'shortDate' }}</td>
                            <td class="p-2 text-center">
                                <!--<button (click)="verValoracion(valoracion)" title="Ver"
                                    class="text-blue-500 hover:text-blue-700 mr-2">
                                    <i class="fas fa-eye"></i>
                                </button>-->
                                <button (click)="editarValoracion(valoracion)" title="Editar"
                                    class="text-green-500 hover:text-green-700 mr-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarValoracion(valoracion.id)" title="Eliminar"
                                    class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <div class="flex justify-between items-center mt-4 text-sm">
                    <button (click)="prevPageValoraciones()" [disabled]="currentPageValoraciones === 1"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        <i class="fas fa-arrow-left mr-1"></i> Anterior
                    </button>
                    <span>
                        Página {{ currentPageValoraciones }} de {{ getTotalPages(valoraciones.length) }}
                    </span>
                    <button (click)="nextPageValoraciones()"
                        [disabled]="currentPageValoraciones >= getTotalPages(valoraciones.length)"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        Siguiente <i class="fas fa-arrow-right ml-1"></i>
                    </button>

                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md p-4">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-lg font-semibold text-gray-700">Contactos</h3>
                    <button class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700"
                        (click)="crearContacto()">
                        <i class="fas fa-plus mr-1"></i>Crear
                    </button>
                </div>
                <table class="w-full text-sm text-left">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="p-2">Mensaje</th>
                            <th class="p-2">Fecha</th>
                            <th class="p-2 text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (contacto of paginatedContactos; track contacto.id) {
                        <tr class="border-b">
                            <td class="p-2">{{ contacto.mensaje }}</td>
                            <td class="p-2">{{ contacto.fecha | date:'short' }}</td>
                            <td class="p-2 text-center">
                                <button (click)="verContacto(contacto)" title="Ver"
                                    class="text-blue-500 hover:text-blue-700 mr-2">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button (click)="editarContacto(contacto)" title="Editar"
                                    class="text-green-500 hover:text-green-700 mr-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarContacto(contacto.id)" title="Eliminar"
                                    class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

                <div class="flex justify-between items-center mt-4 text-sm">
                    <button (click)="prevPageContactos()" [disabled]="currentPageContactos === 1"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        <i class="fas fa-arrow-left mr-1"></i> Anterior
                    </button>
                    <span>
                        Página {{ currentPageContactos }} de {{ getTotalPages(contactos.length) }}
                    </span>
                    <button (click)="nextPageContactos()"
                        [disabled]="currentPageContactos >= getTotalPages(contactos.length)"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        Siguiente <i class="fas fa-arrow-right ml-1"></i>
                    </button>

                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md p-4">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-lg font-semibold text-gray-700">Cocheros</h3>
                    <button class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700"
                        (click)="crearCochero()">
                        <i class="fas fa-plus mr-1"></i>Crear
                    </button>
                </div>
                <table class="w-full text-sm text-left">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="p-2">Nombre</th>
                            <th class="p-2">Apellidos</th>
                            <th class="p-2 text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (cochero of paginatedCocheros; track cochero.id) {
                        <tr class="border-b">
                            <td class="p-2">{{ cochero.nombre }}</td>
                            <td class="p-2">{{ cochero.apellidos }}</td>
                            <td class="p-2 text-center">
                                <button (click)="verCochero(cochero)" title="Ver"
                                    class="text-blue-500 hover:text-blue-700 mr-2">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button (click)="editarCochero(cochero)" title="Editar"
                                    class="text-green-500 hover:text-green-700 mr-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarCochero(cochero.id)" title="Eliminar"
                                    class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="flex justify-between items-center mt-4 text-sm">
                    <button (click)="prevPageCocheros()" [disabled]="currentPageCocheros === 1"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        <i class="fas fa-arrow-left mr-1"></i> Anterior
                    </button>
                    <span>
                        Página {{ currentPageCocheros }} de {{ getTotalPages(cocheros.length) }}
                    </span>
                    <button (click)="nextPageCocheros()"
                        [disabled]="currentPageCocheros >= getTotalPages(cocheros.length)"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        Siguiente <i class="fas fa-arrow-right ml-1"></i>
                    </button>

                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md p-4">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-lg font-semibold text-gray-700">Usuarios</h3>
                    <button class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700"
                        (click)="crearUsuario()">
                        <i class="fas fa-plus mr-1"></i>Crear
                    </button>
                </div>
                <table class="w-full text-sm text-left">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="p-2">Username</th>
                            <th class="p-2 text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (usuario of paginatedUsuarios; track usuario.id) {
                        <tr class="border-b">
                            <td class="p-2">{{ usuario.username }}</td>
                            <td class="p-2 text-center">
                                <button (click)="verUsuario(usuario)" title="Ver"
                                    class="text-blue-500 hover:text-blue-700 mr-2">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button (click)="editarUsuario(usuario)" title="Editar"
                                    class="text-green-500 hover:text-green-700 mr-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarUsuario(usuario.id)" title="Eliminar"
                                    class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="flex justify-between items-center mt-4 text-sm">
                    <button (click)="prevPageUsuarios()" [disabled]="currentPageUsuarios === 1"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        <i class="fas fa-arrow-left mr-1"></i> Anterior
                    </button>
                    <span>
                        Página {{ currentPageUsuarios }} de {{ getTotalPages(usuarios.length) }}
                    </span>
                    <button (click)="nextPageUsuarios()"
                        [disabled]="currentPageUsuarios >= getTotalPages(usuarios.length)"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        Siguiente <i class="fas fa-arrow-right ml-1"></i>
                    </button>

                </div>
            </div>

            <div class="bg-white rounded-lg shadow-md p-4">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-lg font-semibold text-gray-700">Servicios</h3>
                    <button class="bg-blue-600 text-white px-3 py-1 text-sm rounded hover:bg-blue-700"
                        (click)="crearServicio()">
                        <i class="fas fa-plus mr-1"></i>Crear
                    </button>
                </div>
                <table class="w-full text-sm text-left">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="p-2">Tipo servicio</th>
                            <th class="p-2">Tarifa</th>
                            <th class="p-2">Duración</th>
                            <th class="p-2">Descripción</th>
                            <th class="p-2">Disponibilidad</th>
                            <th class="p-2 text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (servicio of paginatedServicios; track servicio.id) {
                        <tr class="border-b">
                            <td class="p-2">{{ servicio.tipoServicio }}</td>
                            <td class="p-2">{{ servicio.tarifa }}</td>
                            <td class="p-2">{{ servicio.duracion }}</td>
                            <td class="p-2">{{ servicio.descripcion }}</td>
                            <td class="p-2">{{ servicio.disponibilidad }}</td>
                            <td class="p-4 text-center">
                                <button (click)="verServicio(servicio)" title="Ver"
                                    class="text-blue-500 hover:text-blue-700 mr-2">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button (click)="editarServicio(servicio)" title="Editar"
                                    class="text-green-500 hover:text-green-700 mr-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="eliminarServicio(servicio.id)" title="Eliminar"
                                    class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="flex justify-between items-center mt-4 text-sm">
                    <button (click)="prevPageServicios()" [disabled]="currentPageServicios === 1"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        <i class="fas fa-arrow-left mr-1"></i> Anterior
                    </button>
                    <span>
                        Página {{ currentPageServicios }} de {{ getTotalPages(servicios.length) }}
                    </span>
                    <button (click)="nextPageServicios()"
                        [disabled]="currentPageServicios >= getTotalPages(servicios.length)"
                        class="px-3 py-1 bg-gray-300 text-gray-800 rounded hover:bg-gray-400 disabled:opacity-50">
                        Siguiente <i class="fas fa-arrow-right ml-1"></i>
                    </button>

                </div>
            </div>

        </div>
    </div>
</div>