<section class="container mx-auto p-6">
    <div *ngIf="loading" class="text-center text-gray-500">Cargando cochero...</div>

    <div *ngIf="!loading && cochero" class="bg-white shadow-md rounded-md p-6">
        <h1 class="text-2xl font-bold mb-4">Detalle de cochero</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">
            <div>
                <strong>Nombre:</strong>
                <p>{{ cochero.nombre }}</p>
            </div>
            <div>
                <strong>Apellidos:</strong>
                <p>{{ cochero.apellidos }}</p>
            </div>
            <div>
                <strong>Valoración media:</strong>
                <p>{{ cochero.mediaValoracion }}</p>
            </div>
        </div>

        <form (ngSubmit)="contactar()" #formulario="ngForm">
            <label for="parada">Parada:
                <select id="parada" name="parada" [(ngModel)]="form.parada" required>
                    <option *ngFor="let parada of paradas" [value]="parada.nombre">{{ parada.nombre }}</option>
                </select>
            </label>
            <label for="tipoServicio">Servicio:
                <select id="tipoServicio" name="tipoServicio" [(ngModel)]="form.tipoServicio" required>
                    <option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.tipoServicio
                        }}</option>
                </select>
            </label>
            <label for="fecha">Fecha:
                <input type="date" name="fecha" id="fecha" [(ngModel)]="form.fecha" required>
            </label>

            <label for="comentario">Comentario:
                <input type="" name="comentario" id="comentario" [(ngModel)]="form.comentario" required>
            </label>



            <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Enviar solicitud</button>
        </form>

        <div class="mt-6">
            <a routerLink="/" class="text-blue-600 hover:underline">← Volver</a>
        </div>
    </div>

    <div *ngIf="!loading && !cochero" class="text-center text-red-500">
        No se pudo cargar la información del cochero.
    </div>
</section>